/* Styles de la barre de progression */
#progress-bar {
  width: 0; /* Largeur initiale */
  height: 5px; /* Hauteur de la barre */
  transition: width 0.3s ease; /* Transition douce pour le changement de largeur */
}

/* Classe pour un mot de passe faible (moins de 8 caractères) */
.redBar {
  background-color: red;
  width: 33%;
}

/* Classe pour un mot de passe acceptable (entre 8 et 15 caractères) */
.orangeBar {
  background-color: orange;
  width: 66%; /* Couleur pour un mot de passe acceptable */
}

/* Classe pour un mot de passe fort (16 caractères ou plus) */
.greenBar {
  background-color: green;
  width: 100%; /* Couleur pour un mot de passe fort */
}

/* Styles pour les messages d'erreur */
